:root {
  --tocino-button-label-text-line-height: var(--tocino-sys-typescale-label-large-line-height);
  --tocino-button-label-text-font: var(--tocino-sys-typescale-label-large-font);
  --tocino-button-label-text-size: var(--tocino-sys-typescale-label-large-size);
  --tocino-button-label-text-weight: var(--tocino-sys-typescale-label-large-weight);
}

.button-label {
  line-height: var(--tocino-button-label-text-line-height);
  font-size: var(--tocino-button-label-text-size);
  font-weight: var(--tocino-button-label-text-weight);
}
