:root {
  --tocino-focus-ring-duration: 650ms;
  --tocino-focus-ring-outline-width: 3px;
}

:focus-visible :disabled {
  outline: none;
}

@keyframes outward-grow {
  0% {
    outline-width: 0;
  }
  100% {
    outline-width: 8px;
  }
}

@keyframes outward-shrink {
  0% {
    outline-width: 8px;
  }
}

.tocino-focus-ring-wrapper {
  outline: var(--tocino-focus-ring-outline-width) solid var(--tocino-sys-color-secondary);
  position: absolute;

  animation: {
    delay: 0s, calc(var(--tocino-focus-ring-duration) * 0.25);
    duration: calc(var(--tocino-focus-ring-duration) * 0.25), calc(var(--tocino-focus-ring-duration) * 0.75);
    timing-function: cubic-bezier(0.2, 0, 0, 1);
    name: outward-grow, outward-shrink;
  }

  &--disabled {
    outline: none;
    inset: 0;
    animation: none;
  }
}
